p{
  text-align: center;
}

#link {
  background-color: aliceblue;
  align-items: center;
  align-content: center;
  border-radius: 25px;
  padding: 20px;
  margin: 30px;
  text-decoration: none;
  color: black;
}

img{
  width: 50%;
  border-radius: 15px;
  box-shadow: 0px 3px 4px rgba(15, 15, 15, .5);
}

#fondotexto{
  background-color: aliceblue;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  padding: 20px;
}




/*GRID - INFO*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-size: 1.2rem;
  min-height: 100%;
}

.grid-container > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}

.header {
  grid-area: header;
  background-color: #8fc1fa;
}


.main {
  grid-area: main;
  background-color: #cce3f8;
}

.footer {
  grid-area: footer;
  background-color: #8c96a0;
}

.grid-container {
  display: grid;
  gap: 10px;
  grid-template:
    "header"  100px
    "main"    auto
    "footer"  100px;
}

@media (min-width: 600px) {
  .grid-container {
    grid-template:
      "header  header" 100px
      "main    main"   auto
      "footer  footer" 100px /
      200px    auto;
  }
}

@media (min-width: 900px) {
  .grid-container {
    grid-template:
      "header  header header"  100px
      "navbar  main   sidebar" auto
      "footer  footer footer"  100px /
      200px    auto   200px;
  }
}






/*BARRA DE NAVEGACIÓN*/

.botones{
  text-decoration: none;
  color: aqua;
}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  border: none;
}

nav{
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header h1{
  font-size: 2rem;
  letter-spacing: .5rem;
}

.drop-down-menu .drop-down-button{
  font-size: 1.2rem;
  padding: 1rem 1rem;
  background-color: inherit;
}

.drop-down-button{
  color: black;
}

nav ul{
  display: flex;
}

.drawer{
  font-size: 1rem;
  color: var(--white-text);
  float: left;
  cursor: pointer;
  display: none;
  margin-left: 1rem;
  border: solid .1rem var(--white-text) ;
  padding: .2rem;
  border-radius: .1rem;
}



/*RESPONSIVE NAV*/

@media (max-width:1039px) {
  nav{
      justify-content: flex-start;
  }

  .drawer{
      display: block;
  }

  ul{
      position: fixed;
      width: 40%;
      height: 40%;
      background-color: rgb(0, 153, 255);
      top: 10vh;
      left: -100%;
      text-align: left;
      transition: all .2s;
      display: flex;
      flex-direction: column;
      align-content: stretch;
      font-size: 50px;
  }

  #ckbox:checked ~.menu-box{
      left: 0;
  }

}








